<div class="notifications p-5 pt-3 w-10 h-4rem">
  <p class="text-2xl font-semibold	">Your notifications:</p>
  <div *ngIf="notifications.length === 0; else notificationsExist"
    class="flex justify-content-center align-items-center h-11rem">
    <p class="text-2xl">No notifications available</p>
  </div>
  <ng-template #notificationsExist>
    <div class="notification border-round-md p-3 pr-1 mb-3" *ngFor="let notification of notifications">
      <span class="notification-message mr-4">{{ notification.message }}</span>
      <i class="notification-time text-sm">
        {{ notification.sentAt | date: 'yyyy.MM.dd' }}
      </i>
    </div>
  </ng-template>
</div>
