<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Google Sign In</title>
</head>
<body>
    {% load socialaccount %}
    <h2>Google Login</h2>
    <a href='https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?client_id=564641218259-mnod8begp6q5b2tilo68qkegdcg73iiu.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Ftaskmatesbackend-pd5h.onrender.com%2Faccounts%2Fgoogle%2Flogin%2Fcallback%2F&scope=profile%20email&response_type=code&state=erMbwcLOXBTvTGk9&access_type=online&service=lso&o2v=2&ddm=1&flowName=GeneralOAuthFlow'>Login With Google</a>

    {% if user.is_authenticated%}
    <p>You are singed in as {{user.email}}</p>
    <a href="logout">logout</a>
    {%endif%}
</body>
</html>
