<div class="flex flex-column gap-8  p-4">
    <div class=" flex justify-content-between flex-wrap gap-4">
      <div class=" flex align-items-center">
        <input
          pInputText
          [(ngModel)]="searchQuery"
          placeholder="Search..."
          class="p-ml-2"
        />
        <div class="flex gap-3">
         <button pButton label="Join" class="ml-2 p-button-outlined white-text" (click)="joinGroup()"></button>
        </div>
      </div>


        <button pButton label="Create new group" class="p-button-secondary white-text" (click)="navigateToCreateGroup()"></button>

    </div>

    <!-- Group Cards Grid -->
    <div class="grid gap-3">
      <div *ngFor="let group of groups" class="col p-md-4 p-lg-3 p-p-2 ">
        <p-card class="border-round-sm"
                header="{{ group.name }}"
                (click)="navigateToGroup(group.id, group.name)">
          <ng-template pTemplate="header">
            <img
              *ngIf="group.image"
              [src]="cardImagePath"
              alt="{{ group.name }}"
              class="group-image opacity-70 border-round-sm"
            />

             <!-- Notification and Message Badges -->
      <div class="card-header-badges">
        <!-- Bell Badge (For expiring soon) -->
        <i *ngIf="group.expiringSoonCount > 0" class="pi pi-bell text-3xl badge-icon"
            pBadge value="{{ group.expiringSoonCount }}"
            styleClass="badge">
        </i>

        <!-- Message Badge (For unread messages) -->
        <i *ngIf="group.unreadMessagesCount > 0" class="pi pi-comment text-3xl badge-icon"
           pBadge value="{{ group.unreadMessagesCount }}"
           styleClass="badge">
        </i>
      </div>

          </ng-template>
          <!-- <p class="text-2xl font-bold">{{group.name}}</p> -->
        </p-card>
      </div>
    </div>
  </div>
