.add-task-form {
  border: 2px solid rgba(164, 172, 182, 0.5);
  background-color: #f6f8f8;
}

.points {
  display: flex;
  justify-content: start;
  align-items: center;
}

:host ::ng-deep .p-inputnumber.p-inputnumber-buttons-horizontal .p-inputnumber-button {
  color: white !important;
}
